<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/main.css') }}">
</head>
<body>
    <h1>Contents List</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Youtube Link</th>
            <th>Level</th>
            <th>Number of Vocab</th>
        </tr>
        {% for content in contents %}
        <tr>
            <td  class="left-align"><a href="/edit-vocab/{{ content.ID }}">{{ content.Title }}</a></td>
            <td><a href="https://{{ content.Link }}" target="_blank">Link
            </a></td>
            <td>{{ content.Level }}</td>
            <td>{{ vocab_count.get(content.ID, 0) }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/edit-contents" class="btn-back">Contents List Edit</a>
    <a href="/mylist" class="btn-back">Go to My List</a>
</body>
</html>