<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Vocab List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/main.css') }}">
</head>
<body>
    <h1>My Vocabulary List</h1>
    <table>
        <tr>
            <th>Kanji</th>
            <th>Hiragana</th>
            <th>Meaning</th>
            <th>Memorized</th>
            <th>Action</th>
        </tr>
        {% for mylist in mylists %}
        <tr>
            <td>{{ mylist.Kanji }}</td>
            <td>{{ mylist.Hiragana }}</td>
            <td>{{ mylist.Meaning }}</td>
            <td>
                {% if mylist.Memorized|trim == 'True' %}
                    <span class="circle green-circle"></span>
                {% else %}
                    <span class="circle red-circle"></span>
                {% endif %}
            </td>
            <td>
                <form action="{{ url_for('get_mylist') }}"
                      method="POST" style="display:inline;"
                      class="form-without-padding">
                    <input type="hidden" name="id" value="{{ mylist.ID }}">
                    <button type="submit" class="btn-delete">Delete
                    </button></form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}" class="btn-back">Back to Main</a>
</body>